body {
  background-color:deepskyblue;
}
p {
  color: black;

}
h1 {
  font-weight: bold;
  text-align: center;
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.best-img{
  width: 350px;
  height: 350px;
  float: right

}

h2{
  text-align: center
}

.worst-img{
  width: 370px;
  height: 270px;
  float: right
}

